nb-accordion-item-header {
    text-align: center; 
    display: block;

}

.bg-color {
    background-color: rgba(59, 95, 143, 0.514);
  }

  .expanded {
    background-color: rgba(59, 95, 143, 0.514);
  }
  