<div>
  <div>
    <nb-card>
      <nb-card-header>Change profil infos</nb-card-header>
      <nb-card-body>
        <nb-alert *ngIf="!ok && showMessages" outline="danger" role="alert">
          <p class="alert-title"><b>Oh snap!</b></p>
          <ul class="alert-message-list">
            <li class="alert-message">Something when wrong.</li>
          </ul>
        </nb-alert>
        
        <nb-alert *ngIf="ok && showMessages" outline="success" role="alert">
          <p class="alert-title"><b>Hooray!</b></p>
          <ul class="alert-message-list">
            <li class="alert-message">It worked</li>
          </ul>
        </nb-alert>
        <div *ngIf="user?.id_leagues" >
          <div class="form-group row">
            <label for="inputName" class="label col-sm-3 col-form-label">Username</label>
            <div class="col-sm-9">
              <input type="text" nbInput fullWidth id="inputName" #inputName [value]="user.userName">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPicture" class="label col-sm-3 col-form-label">Picture link</label>
            <div class="col-sm-9">
              <input type="link" nbInput fullWidth id="inputPicture" #newPicture [value]="user.picture">
            </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword2" class="label col-sm-3 col-form-label">Password</label>
            <div class="col-sm-9">
              <input type="password" nbInput fullWidth id="inputPassword2" placeholder="Password">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 label">Filter sur le type</label>
            <div class="col-sm-9">
              <p-selectButton [options]="strategy" [(ngModel)]="value" [multiple]="true" optionLabel="name" optionValue="value"></p-selectButton>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 label">Championnats</label>
            <div class="col-sm-9">
              <nb-select multiple placeholder="Choix des leagues à afficher" (selectedChange)="onSelected($event)" [selected] = "leagues" style ="min-width: 100%;">
                <nb-option *ngFor="let league of all_leagues" [value]="league" >{{league}}</nb-option>
              </nb-select>
            </div>
          </div>
          <div *ngIf="rangeValues !== undefined" class="form-group row">
            <label class="col-sm-3 label">Cotes</label>
            <div class="col-sm-9">
              <h5>Range: {{rangeValues[0] + ' - ' + rangeValues[1]}}</h5>
              <p-slider [(ngModel)]="rangeValues" [range]="true" [step] = "0.1"></p-slider>
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-3 col-sm-9">
              <button nbButton  (click) ="changes(inputName.value,newPicture.value)" status="primary">Save changes</button>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
</div>


