<div style="  padding: 1rem; justify-content: center;">
    <div class="card text-0 flex justify-content-between" 
          style="background-color: var(--accordion-item-background-color); min-width: 16rem;    max-width: 15rem; padding: 1rem; 
           flex-direction: inherit;box-sizing: border-box;
          padding: 1rem;
          box-shadow: var(--card-shadow);
          border-radius: 24px;
          padding-bottom: 0;
    ">
      <div class="overview-info">
        <h6 class="m-0 mb-1 text-0" style="color: var(--badge-primary-background-color)!important;     font-size: 15px;">{{ titre }}</h6>
        <h1 class="m-0 text-0" style="color: var(--badge-primary-background-color)!important;    font-size: 30px;">{{stat}}</h1>
      </div>
      <i [class]="icon" style="font-size: 1.75rem!important;    color: var(--badge-primary-background-color);"></i>
    </div>
  </div>