<nb-card>
  <nb-card-body>

    <p-table [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
          <tr>
              <th>Code</th>
              <th>Name</th>
              <th>Category</th>
              <th>Quantity</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
          <tr>
              <td>lol</td>
              <td>qui</td>
              <td>ri</td>
              <td>sort</td>
          </tr>
      </ng-template>
  </p-table>
  

  </nb-card-body>
</nb-card>